// Colors
$color-primary: #0060AE;
$color-gray: #6D6D6D;
$color-gray-2: rgba($color-gray, 0.8);
$color-gray-3: rgba($color-gray, 0.6);
$color-gray-4: rgba($color-gray, 0.4);
$color-gray-5: rgba($color-gray, 0.2);
$color-black: #151515;