{% extends "layout/base.html" %}

{% load static %}
{% load querystring %}


{% block title %}
    Weather Checker
{% endblock %}

{% block content %}
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-header mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Weather Checker</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Loggings</li>
        </ol>
    </nav>

    <div class="page-title mb-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <h3 class="mb-2 mb-sm-0">User Loggings</h3>
            <div class="d-flex flex-nowrap">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {% include "partials/filter-and-search.html" %}

            <div class="overflow-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Result Meta</th>
                        </tr>
                    </thead>
                    {% if not user_loggings %}
                        <tr>
                            <td class="text-center" colspan="{% if user.is_superuser or user.is_supervisor %}6{% else %}5{% endif %}">Tidak ada data pada tabel</td>
                        </tr>
                    {% else %}
                        {% for user_logging in user_loggings %}
                            <tr>
                                <td>{{ user_logging.user.email}}</td>
                                <td>{{ user_logging.result_meta }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>

            {% include "partials/pagination.html" with paginator=paginator %}
        </div>
    </div>

        <!-- Modal Select Popup -->
    <div class="modal fade text-left modal-borderless" id="modal-popup" name="modal-popup" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Permissions Guideline</h4>
                    <button type="button" class="close rounded-pill"
                        data-bs-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                </div>
                <div class="modal-body h-80vh overflow-auto">
                    <!-- Loading -->
                    <div id="loadingGuideline" class="d-flex justify-content-center align-items-center p-3">
                        <i class="fas fa-spinner fa-spin fa-4x text-primary loading-table"></i>
                    </div>

                    <table class="table" id="table_permission">
                        <thead id="role-column"></thead>
                        <tbody id="body-permission"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static "assets/js/helpers.js" %}"></script>

{% endblock %}