{% load static %}

<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <h3> Weather Checker</h3>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item {% if active_tab == 'province' %}active{% endif %}">
                    <a href="{% url 'weather_checker:areas:index' %}" class='sidebar-link'>
                        <i class="fa fa-globe fa-sm"></i>
                        <span>Area Info</span>
                    </a>
                </li>
                <li class="sidebar-item {% if active_tab == 'weather_check' %}active{% endif %}">
                    <a href="{% url 'weather_checker:weather_checking:index' %}" class='sidebar-link'>
                        <i class="fa fa-shopping-cart fa-sm"></i>
                        <span>Weather Check</span>
                    </a>
                </li>
                <li class="sidebar-item {% if active_tab == 'user_logging' %}active{% endif %}">
                    <a href="{% url 'weather_checker:user_loggings:index' %}" class='sidebar-link'>
                        <i class="bi bi-person-fill"></i>
                        <span>User Loggings</span>
                    </a>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
